<header>
  <h1>Service Log Manager</h1>
  <nav>
    <li> <a href="Home"></a> </li>
    <li> <a href="Precios"></a> </li>
    <li> <a href="Signin"></a> </li>
    <li> <a href="Login"></a> </li>
  </nav>
</header>
<section>
  <div class="heroPanel">
    <h2>Service Log Made Easy</h2>
    <a href="bigBtn">Buy Now</a>

  </div>
</section>
<footer>
Derechos Reservados UNICAH Seminario de Software 2018 Tercero
</footer>
